<html   lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Poly'Tchat - Post</title>

        <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/assets/css/main.css" rel="stylesheet"/>
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Poly'Tchat</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="/feed">Post</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Authentification -->
                        <li sec:authorize="!isAuthenticated()"><a href="/login">Connexion</a></li>
                        <li sec:authorize="isAuthenticated()"><a href="/logout">Deconnexion</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="starter-template">

                <h1>Partagez vos pensées !</h1>

                <div class="row publisher">
                    <form method="post" th:action="share">
                        <div class="form-group">
                            <div class="col-md-12">
                             <textarea name="content" class="form-control"
                                       placeholder="Exprimez-vous..."></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-1 pull-right">
                                <button type="submit" class="btn btn-primary">Partager</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="post" th:each="post: ${posts}">
                    <div class="row feed" >
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p th:text="${post.getContent()}"></p>

                                    <a href="#" class="new_comment_open">Commenter</a>

                                    <div class="post_info">
                                        <p th:text="${post.getLikes().size()}"></p>
                                        <img src="https://publicdomainvectors.org/photos/OCAL-Favorites-Icon-Selected-Red.png" alt="Like" width="2%" />
                                        <a href="#" class="comment_open"><p th:text="${post.getComments().size()}"></p>
                                        <img src="https://briansmithx.files.wordpress.com/2013/09/live-chat-software.png" alt="Like" width="3%" /> </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="comments" style="display: none;">
                        <div class="row comment" th:each="comment: ${post.getComments()}">
                            <div class="col-md-6 pull-right">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="comment_title">
                                            Par <p th:text="${comment.getAuthor().getUsername()}"></p>
                                        </div>

                                        <div class="comment_data">
                                            <p th:text="${comment.getContent()}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="new_comment" style="display: none;">
                        <form method="post" th:action="comment">
                            <div class="form-group">
                                <div class="col-md-6 pull-right">
                                <textarea name="content" class="form-control"
                                          placeholder="Votre commentaire..."></textarea>
                                </div>
                                <input type="hidden" name="postId" th:value="${post.getId()}" />
                            </div>
                            <div class="form-group">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">Valider</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/comments.js"></script>
    </body>
</html>
