body {
    padding-top: 130px;
    padding-bottom: 40px;
    background-color: #eee;
}

/*****************
 ** Feed
 ****************/

.starter-template {
    padding: 50px 200px;
    text-align: center;
}
.feed{
    padding: 20px 0px;
}

.post_info {
    text-align: right;
}

.post_info p {
    display: inline;
}

.comment p {
    display: inline;
}

.comment .comment_title {
    text-align: left;
}

.new_comment {
    margin-top: -15px;
    padding-bottom: 50px;
}

.new_comment_open {
    float: left;
}

/*****************
 ** Login
 ****************/

.registered {
    color: #1b6d85;
    text-align: center;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .login-error {
    text-align: center;
    color: #ec1515;
    display: block;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}